extends layout

block content

    header.container
      div.lead_col
        div.lead_centered
          div.lead
            h1 Wake Up To...
            h1.emphasis BIRDS!

      div.grid
        div.img-col#bird_one
        div.img-col#bird_two
        div.img-col#bird_three

    div.container.row

    footer.primary-footer
      div.group
        small &copy;Bird App

